@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DINBek-Regular";
  src: local(''), url("/fonts/DINBek.woff") format("woff");
}

@font-face {
  font-family: "DINBek-Bold";
  src: local(''), url("/fonts/DINBekBold.woff") format("woff");
}